@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #1A1A1A;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  font-family: "Figtree", sans-serif;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1308px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ///////////////////////////// */
.home-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ///////////////////////////// */
